body {
  background-color: green;
  text-align: center;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  text-transform: lowercase;
}

a {
  color: purple;
  border-bottom: 2px solid purple;
}

a:hover {
  color: purple;
  background-color: darkgreen;
}
