* {box-sizing: border-box;}

html {
  /*setting base font size*/
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  background-color: black;
}

.title {
  width: 100vw;
  height: 90vh;
  background-color: lightblue;
  padding: 35vh 0 0 0;
}

.degrees75 {
  width: 100vw;
  height: 90vh;
  background-color: lightgreen;
  padding: 32vh 0 0 0;
}

.thunderstorm {
  width: 100vw;
  height: 90vh;
  background-color: plum;
  padding: 32vh 0 0 0;
}

.snowstorm {
  width: 100vw;
  height: 90vh;
  background-color: pink;
  padding: 32vh 0 0 0;
}

.fallweather {
  width: 100vw;
  height: 90vh;
  background-color: orange;
  padding: 32vh 0 0 0;
}

.springweather {
  width: 100vw;
  height: 90vh;
  background-color: lightgray;
  padding: 32vh 0 0 0;
}

h1 {
  text-transform: uppercase;
  font-size: 5em;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.align-right {
  text-align: right;
}

.changecolor {
  color: green;
}

.shrinktext {
  font-size: 10px;
}
