.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88d3e5; /*blue background color*/
  margin: 0;
  font-size: 12pt;
}

h1 {
  color: #ffffff;
  font-size: 25pt;
  text-align: right;
  margin: 0;
}

h2 {
  background-color: #9c9ae5; /*dark purple color*/
  font-size: 20pt;
  color: #ffffff;
  text-align: center;
  margin: 0px;
}

h3 {
  text-align: left;
  font-size: 15pt;
  font-weight: bold;
  color: #000000;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1px;
  line-height: 10px;
}

h4 {
  text-align: center;
  font-size: 35pt;
  color: #ffffff;
  margin: 0px;
}

p {
  font-family: arial;
  color: #000000;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 12pt;
}

#container {
  width: 320px;
  margin: 10px auto;
}

.websitetitle, .about, .menu, .hours, .contact {
  border: 0.5px solid #88d3e5; /*blue background color*/
  margin-top: 0;
}

.websitetitle {
  width: 100%;
  background-color: #9c9ae5; /*dark purple color*/
}

.flavors {
  width: 50%;
}

p.abouttext, p.hourstext {
  text-align: center;
}

.about, .menu, .hours, .contact {
  width: 290px;
  background-color: #afafdb; /*light purple color*/
  margin: 20px auto;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 768px) {
  #container {width: 768px;}
  .websitetitle {width: 768px;}
  .about, .menu, .hours, .contact {width: 700px;}
  h1 {font-size: 50pt;}
  h2 {font-size: 35pt;}
  h3 {font-size: 24pt;}
  p {font-size: 20pt;}
  body {font-size: 20pt;}
}

@media only screen and (min-width: 1024px) {
  #container {width: 1024px;}
  .websitetitle {width: 1024px;}
  .about, .menu, .hours {width: 840px;}
  .mobile-only {display: none;}
  .navigation {
    width: 1024px;
    background-color: #afafdb; /*light purple color*/
  }
  .contact {width: 1024px;}
  h1 {font-size: 50pt;}
  h2 {font-size: 35pt;}
  h3 {font-size: 24pt;}
  p {font-size: 20pt;}
  body {font-size: 20pt;}
  .desktop-only {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  #container {width: 1440px;}
  .websitetitle {width: 1440px;}
  .about, .menu, .hours {width: 1440px;}
  .mobile-only {display: none;}
  .navigation {
    width: 1440px;
    background-color: #afafdb; /*light purple color*/
  }
  .contact {width: 1024px;}
  h1 {font-size: 50pt;}
  h2 {font-size: 35pt;}
  h3 {font-size: 24pt;}
  p {font-size: 20pt;}
  body {font-size: 20pt;}
  .desktop-only {
    display: block;
  }
}
