body {
  background-color: ;
}

#container {
  width: 800px;
  margin: 450px auto;
}

.title {
  width: 800px;
  text-align: justify;
  float: left;
}

.author {
  width: 400px;
  background-color: #006837;
  float: left;
  text-align: center;
}

.chapter {
  width: 50px;
  float: left;
}

h1 {
  font-family: 'Be Vietnam', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: 'Anton', sans-serif;
  color: #006837;
  font-size: 32pt;
}

h3 {
  font-family: 'Be Vietnam', sans-serif;
  color: #ffffff;
  font-size: 25px;
  margin: 0;
}
