body {
  background-color: #89DEE4;
  font-family: arial;
  font-size: 12pt;
  text-align: center;
}

text {
  background-color: #A989E4;
}

img {max-width: 100%;}

p {font-family: 'Manjari', sans-serif;}

a{
  color: #000000;
  background-color: #FFFFFF;
}

a:hover{
  color: #FFFFFF;
  background-color: #000000;
}

h1 {
  color: #FFFFFF;
  font-family: impact;
  text-align: center;
}

h2 {
  color: #FFFFFF;
  background-color: #A989E4;
  font-family: 'Sacramento', cursive;
  font-size: 27pt;
  text-transform: lowercase;
  text-align: center;
}
