body {
  background-color: mediumpurple;
  font-family: arial;
  font-size: 10pt;
}

img {max-width: 100%;}

h1 {
  color: #FFFFFF;
  font-family: impact;
  text-align: center;
}

h2 {
  color: #FFFFFF;
  background-color: deepskyblue;
  font-family: arial;
  font-size: 14pt;
}

.intro {
  color: blue;
  text-align: center;
  font-size: 12pt;
}

#container{
  width: 50%;
  margin: 100px auto;
}
