body {
  background-color: #333333;
}

#board {
  width: 800px;
  margin: 50px auto;
}

.red {
  background-color: crimson;
}

.white {
  background-color: gainsboro;
}

.red, .white {
  width: 100px;
  height: 100px;
  float:left;
}
