.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  background-color: purple;
  margin: 0;
}

#container {
  width: 400px;
  margin: 50px auto;
}

.tile1, .tile2, .tile3, .tile4, .tile5 {
  border: 5px solid white;
  float: left;
  background-color: green;
}

.rectangle {
  width: 100px;
  float: left;
}

.tile1 {
  width: 100px;
  height: 200px;
}

.tile2 {
  width: 100px;
  height: 100px;
}

.tile3 {
  width: 200px;
  height: 100px;
}

.tile4 {
  width: 100px;
  height: 400px;
}

.tile5 {
  width: 200px;
  height: 400px;
}
