body {
  background-color: #333333;
  box-sizing: border-box;
}

#container {
  width: 800px;
  margin: 50px auto;
}

.header {
  background-color: crimson;
  width: 800px;
  height: 100px;
  margin: 0 0 10px;
}

.nav {
  background-color: crimson;
  width: 800px;
  height:50px;
  margin: 0 0 10px;
}

.col{
  width: 260px;
  height: 1000px;
  background-color: crimson;
  float: left;
  margin: 0 0 10px;
}

.footer{
  width: 800px;
  height: 100px;
  background-color: crimson;
  clear: both;
  margin: 0 0 10px;
}

.margin-right{
  margin: 0 10px 0 0;
}

.red, .white {
  width: 100px;
  height: 100px;
  float:left;
}
