body {
  margin: 0;
  overflow-x: hidden;
}

#container {
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
}

.tile1, .tile2, .tile3 {
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
  opacity: .8;
}

.tile1 {
  background-color: green;
}

.tile2 {
  background-color: purple;
}

.tile3 {
  background-color: blue;
}
